.dashboard{
    width: 60vw;
    height: 75vh;
    background-color: #2D2D2D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    color: white;
    font-family: Neue, Helvetica, sans-serif;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 1360px) {
    .dashboard{
        width: 80vw;
    }
}